# Paths
# cache, archive and backup directories
CACHE_ROOT="/.../.cache"
ARCHIVE_JSONL_DIR="/.../archived_jsonl"
BACKUP_JSONL_DIR="/.../backup_jsonl"
# OUTPUT_* is for saving processed data
OUTPUT_PLAN_JSONL_DIR="/.../sub_task_jsonl"
OUTPUT_SUB_TASK_JSONL_DIR="/.../sub_task_jsonl"
OUTPUT_BBOX_JSONL_DIR = '/.../bbox_jsonl'
OUTPUT_CLEAN_BBOX_JSONL_DIR = '/.../clean_bbox_jsonl'
OUTPUT_COT_JSONL_DIR="/.../cot_jsonl"
# ANNOTATION_* is for already processed annotation data
ANNOTATION_ROOT="/.../annotation"
ANNOTATION_SUB_TASK_DIR="/.../annotation/v2/sub_task"
ANNOTATION_BBOX_DIR="/.../annotation/v2/bbox"
ANNOTATION_COT_DIR="/.../annotation/v2/cot"
ANNOTATION_VIZ_SAVE_DIR="/.../bbox_videos/v2"


# Model paths
# plan & sub-task generation will use qwen, and grounding / CoT will use internvl
VLM_PATH_QWEN_INFER=...
VLM_PATH_INTERN_INFER=...
LLM_PATH_QWEN_INFER=...
# EVQA training base model
VLM_PATH_QWEN_TRAIN=...


# EVQA training data
EVQA_DATASET_ROOT=...


# API configurations
API_KEY=...
API_URL=...
API_VLM_PATH=...
DASHSCOPE_API_KEY=...
DASHSCOPE_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"


# Model checkpoints
SAM2_CKPT=...
SIGLIP2_CKPT=...
