legacy/
__pycache__/
envs/*legacy.txt
tmp/
logs/
.vscode/
ecot/run_sub_task_test.py
remove_invalid_char.py
task.sh
task*.sh
.env
upload.py
commands/
readpd.py
bin.txt
output/*
assets/fasttext/cc.en.300.bin
wandb/
assets/sbert/
grounding/testcases/
grounding/postprocess/*test.py
.gradio/